.grid-container {
	margin-left: 12%;
}

.gallery-image {
	width: 300px;
}

.grid-item {
  margin-bottom: 10px;
}

.btn-submit {
	width: 150px !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
