{% extends 'base.html' %}

{% block header %}
	<h1 class="h3 mb-3 fw-normal">Download Processed Images</h1>
{% endblock %}

{% block content %}
	<div class="d-flex flex-column mx-auto pt-3">
		{% if images|length %}
			{% for image in images %}
				<a href={{ url_for('static', filename=image) }} target="_blank" class="pb-1">
					{{ image.replace('processed/', '') }}
				</a>
			{% endfor %}
		{% else %}
				<a href="{{ url_for('resize.upload') }}">Upload more images!</a>
				<span class="mx-auto pt-2 font-weight-bold">OR</span>
				<a href="{{ url_for('resize.gallery') }}" class="btn btn-primary my-3 w-100">Return to Gallery</a>
		{% endif %}
	<div>
{% endblock %}