{% extends 'base.html' %}

{% block header %}
	{% if g.user %}
		<h2>Gallery</h2>
		<p>Click on an image to resize!</p>
	{% else %}
		<h2>You Must Login to Start</h2>
	{% endif %}
	<p id="demo"></p>
{% endblock %}

{% block content %}
	<div class="grid grid-container">
	{% for image in images %}
		<div class="grid-item grid-item--width4">
			<div>
				<a href="{{ url_for('resize.resize', title=image['title']) }}">
					<img class="gallery-image" src={{ url_for('static', filename=image['filename_dir']) }}>
				</a>
				<!-- <h3>{{ image['name'] }}</h3> -->
				<!-- {{ image['created'].strftime('%Y-%m-%d') }} -->
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}