{% extends 'base.html' %}

{% block header %}
	{% if g.user %}
		<h2>Gallery</h2>
		<p>Select an image to resize!</p>
	{% else %}
		<h2>Login to Start</h2>
	{% endif %}
{% endblock %}

{% block content %}
	{% for image in images %}
		<div>
			<h3>{{ image['name'] }}</h3>
			{{ image['created'].strftime('%Y-%m-%d') }}
			<!-- TODO: Remove width attribute and use CSS -->
			<a href="{{ url_for('resize.resize', title=image['title']) }}">
				<img src={{ url_for('static', filename=image['filename_dir']) }} width="300">
			</a>
			<a href="{{ url_for('resize.delete', title=image['title']) }}">
				Delete
			</a>
	{% endfor %}
{% endblock %}