{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Resizer{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div>
		<img src={{ url_for('static', filename=filename)}} width='300'>
		<form method="post">
			<label for="resize-widths">Choose resize widths for your image:</label>
			<select name="sizes" id="size-select" multiple>
				<option value="">--Please choose an option--</option>
				{% for width in resize_widths %}
					<option value={{ width }}>{{ width + 'px' }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Submit">
		</form>
	<div>
{% endblock %}