{% extends 'base.html' %}

{% block header %}
  <h2>Resize "{{ title }}"</h2>
{% endblock %}

{% block content %}
	<div class="d-flex flex-column text-center">
		<p>or delete image <a href="{{ url_for('resize.delete', title=title) }}">here</a></p>
		<img class="gallery-image mx-auto" src={{ url_for('static', filename=filename_dir)}}>
		<form class="d-flex flex-column mx-auto" method="post">
			<label for="resize-widths" class="pt-3 font-weight-bold">
				Choose resize widths for your image:
			</label>
			<select name="sizes" id="size-select" multiple class="custom-select">
				<option value="">--Please choose an option--</option>
				{% for width in resize_widths %}
					<option value={{ width }}>{{ width + 'px' }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Submit" class="btn btn-primary my-2 btn-submit mx-auto">
		</form>
	<div>
{% endblock %}